@model Partita

@{
    ViewData["Title"] = "Poker";
}

@Html.Hidden("IdGiocatore", (int)ViewBag.IdGiocatore)
<div class="tavolo container">
    <div class="row rowcarte">
        <div class="col-sm-4 text-center"></div>
        <div id="carte-g2" class="col-sm-4 text-center"></div>
        <div class="col-sm-4 text-center"></div>
    </div>
    <div class="row" style="height: 50px;"></div>
    <div class="row rowcarte">
        <div id="carte-g1" class="col-sm-3 text-center"></div>
        <div id="carte-tavolo" class="col-sm-6 text-center"></div>
        <div id="carte-g3" class="col-sm-3 text-center"></div>
    </div>
    <div class="row" style="height: 50px;"></div>
    <div class="row rowcarte">
        <div class="col-sm-4 text-center"></div>
        <div id="carte-g0" class="col-sm-4 text-center"></div>
        <div class="col-sm-4 text-center"></div>
    </div>
    <button id="btnDistribuisciCarte">Distribuisci carte</button>
    <button id="btnNuovaPartita">Nuova partita</button>
    <button id="btnAggiorna">Aggiorna</button>
    <button id="btnPescaCartaTavolo">Pesca tavolo</button>
    <button id="btnGetVincitore">Vincitore</button>
</div>

<script type="text/javascript">

    var timer = null;
    $(document).ready(function () {

        GetPartitaCorrente();

        $("#btnNuovaPartita").click(function () {
            NuovaPartita();
        });

        $("#btnPescaCartaTavolo").click(function () {
            $.ajax({
                type: "GET",
                url: "/home/PescaCartaTavolo",
                dataType: "json",
                success: function (partita) {
                    AggiornaTavolo(partita);
                }
            });
        });

        $("#btnDistribuisciCarte").click(function () {
            $.ajax({
                type: "GET",
                url: "/home/DistribuisciCarte",
                dataType: "json",
                success: function (partita) {
                    AggiornaTavolo(partita);
                }
            });
        });

        $(document).on("change", "#inputnome", function () {
            $.ajax({
                type: "GET",
                url: "/home/ModificaNomeGiocatore",
                dataType: "json",
                data: {
                    id: $("#IdGiocatore").val(),
                    nome: $("#inputnome").val()
                },
                success: function (partita) {
                    AggiornaTavolo(partita);
                    SetInterval();
                }
            });
        });

        $(document).on("focusin", "#inputnome", function () {
            clearInterval(timer);
            timer = null;});


        $("#btnGetVincitore").click(function () {
            GetVincitore();
        });

        $("#btnAggiorna").click(function () {
            GetPartitaCorrente();
        });

        SetInterval();
    })

    function SetInterval() {
        if (timer == null) {
            timer = setInterval(function () {
                GetPartitaCorrente();
            }, 5000);
        }
    }

    function GetPartitaCorrente() {

        $.ajax({
            type: "GET",
            url: "/home/GetPartita",
            dataType: "json",
            success: function (partita) {
                AggiornaTavolo(partita);
            }
        });
    }

    function NuovaPartita() {

        $.ajax({
            type: "GET",
            url: "/home/NuovaPartita",
            dataType: "json",
            success: function (partita) {
                AggiornaTavolo(partita);
            }
        });
    }

    function GetVincitore() {

        $.ajax({
            type: "GET",
            url: "/home/GetVincitore",
            dataType: "json",
            success: function (id) {
                $(".bred").removeClass("bred");
                $("#carte-g" + id + " .nomeg").addClass("bred");
            }
        });
    }

    function VisualizzaCarte(carte, divid, nome, idg) {
        $("#" + divid).empty()
        if (carte.length == 0 && divid == "carte-tavolo") {
            var div = $("<div class='carta'></div>");
            div.css("background-image", "url('carte/retroblu.png')")/*.css("left", -65*index)*/;
            $("#" + divid).append(div);
        }
        carte.forEach(function (item, index) {
            var div = $("<div class='carta'></div>");
            //div.attr("title", item.numeroString + " di " + item.semeString).css("border", "1px solid").css("background-color", "white")/*.css("left", -65 * index)*/;
            //div.css("background-image", "url('data:image/png;base64," + item.immagineBase64 + "')");

            var path = item.pathImage;
            if (divid != "carte-tavolo") {
                if (idg != $("#IdGiocatore").val()) {
                    path = "carte/retroblu.png";
                }
            }

            div.css("background-image", "url('" + path + "')").attr("title", item.numeroString + " di " + item.semeString)/*.css("left", -65*index)*/;
            $("#" + divid).append(div);
        });
        if (nome != undefined) {
            if (divid == "carte-g0") {
                $("#" + divid).append("<div class='nomeg'><input id='inputnome' type='text' value='" + nome + "'></div>");
            } else {
                $("#" + divid).append("<div class='nomeg'>" + nome + "</div>");
            }
        }
    }

    function VisualizzaPunteggio(punteggio, divid) {
        var div = $("<div>" + punteggio + "</div>");
        $("#" + divid).append(div);
    }

    function AggiornaTavolo(partita) {
        VisualizzaCarte(partita.tavolo.carte, "carte-tavolo");
        var idg = $("#IdGiocatore").val();
        for (var i = 0; i < partita.giocatori.length; i++) {
            if (idg < 0) {
                idg = 0;
            } else {
                var ind = i - idg;
                if (ind < 0) {
                    ind = 4 + ind;
                }
            }
            VisualizzaCarte(partita.giocatori[i].carte, "carte-g" + ind, partita.giocatori[i].nome, i);
            //VisualizzaPunteggio(partita.giocatori[i].punteggio.tipoString, "carte-g" + i)
        }
    }

</script>
