@model Partita

@{
    ViewData["Title"] = "Poker";
}

<div class="tavolo container">
    <div class="row">
        <div class="col-sm-4 text-center"></div>
        <div id="carte-g0" class="col-sm-4 text-center"></div>
        <div class="col-sm-4 text-center"></div>
    </div>
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div id="carte-g1" class="col-sm-3 text-center"></div>
        <div id="carte-tavolo" class="col-sm-6 text-center"></div>
        <div id="carte-g2" class="col-sm-3 text-center"></div>
    </div>
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col-sm-4 text-center"></div>
        <div id="carte-g3" class="col-sm-4 text-center"></div>
        <div class="col-sm-4 text-center"></div>
    </div>
    <button id="btnNuovaPartita">Nuova partita</button>
    <button id="btnPescaCartaTavolo">Pesca</button>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        GetPartitaCorrente();

        $("#btnNuovaPartita").click(function () {
            NuovaPartita();
        });
        $("#btnPescaCartaTavolo").click(function () {
            $.ajax({
                type: "GET",
                url: "/home/PescaCartaTavolo",
                dataType: "json",
                success: function (partita) {
                    AggiornaTavolo(partita);
                }
            });
        });

    })

    function GetPartitaCorrente() {

        $.ajax({
            type: "GET",
            url: "/home/GetPartita",
            dataType: "json",
            success: function (partita) {
                AggiornaTavolo(partita);
            }
        });
    }

    function NuovaPartita() {

        $.ajax({
            type: "GET",
            url: "/home/NuovaPartita",
            dataType: "json",
            success: function (partita) {
                AggiornaTavolo(partita);
            }
        });
    }

    function VisualizzaCarte(carte, divid, nome) {
        $("#" + divid).empty()
        carte.forEach(function (item, index) {
            var div = $("<div class='carta'></div>");
            div.attr("title", item.numeroString + " di " + item.semeString).css("border", "1px solid").css("background-color", "white")/*.css("left", -65 * index)*/;
            //div.css("background-image", "url('data:image/png;base64," + item.immagineBase64 + "')");
            //div.css("background-image", "url('" + item.pathImage + "')")/*.css("left", -65*index)*/;
            $("#" + divid).append(div);
        });
        if (nome != undefined) {
            $("#" + divid).append("<div class='nomeg'>" + nome  + "</div>");
        }
    }

    function VisualizzaPunteggio(punteggio, divid) {
        var div = $("<div>" + punteggio + "</div>");
        $("#" + divid).append(div);
    }

    function AggiornaTavolo(partita) {
        VisualizzaCarte(partita.tavolo.carte, "carte-tavolo");
        for (var i = 0; i < 4; i++) {
            VisualizzaCarte(partita.giocatori[i].carte, "carte-g" + i, partita.giocatori[i].nome);
            //VisualizzaPunteggio(partita.giocatori[i].punteggio.tipoString, "carte-g" + i)
        }
    }

</script>
